{% element 'snippets/banner-line' { 'banner_id': 'home', 'banner_type': 'slides' } %} 

{% element 'snippets/grid-differentials' %}

{% element 'snippets/filter-sizes' %}

{% element 'home-showcase' { 
    'rand' : settings.showcase_rand_products, 
    'type' : settings.showcase_type_1, 
    'quantity' : settings.showcase_quantity_1 * 2,
    'typeSection': settings.showcase_type1,
} %}

{% if banner.extra7 or banner.extra8 or banner.extra9 %}
<section class="mini-banners section">
    <div class="content">
        <a href="{{ banners.extra7.link }}" class="banner" id="banner-7" title="{{ banners.extra7.alt }}" target="{{ banners.extra7.target }}">
           <img class="lazy" data-src="{{ banners.extra7.src }}" alt="{{ banners.extra7.alt }}" >
        </a>
        <a href="{{ banners.extra8.link }}" class="banner" id="banner-8" title="{{ banners.extra8.alt }}" target="{{ banners.extra8.target }}">
           <img class="lazy" data-src="{{ banners.extra8.src }}" alt="{{ banners.extra8.alt }}" >
        </a>
        <a href="{{ banners.extra9.link }}" class="banner" id="banner-9" title="{{ banners.extra9.alt }}" target="{{ banners.extra9.target }}">
           <img class="lazy" data-src="{{ banners.extra9.src }}" alt="{{ banners.extra9.alt }}" >
        </a>
    </div>
</section>
{% endif %}

{# comentado temporariamente 
    {% element 'snippets/brands-list' %} 
#}

{% element 'home-showcase' { 
    'rand' : settings.showcase_rand_products, 
    'type' : settings.showcase_type_2, 
    'quantity' : settings.showcase_quantity_2, 
    'typeSection' : settings.showcase_type2
} %} 

{% for page in pages.custom %} 
    {% if page.info == "noticias" and settings.show_news %}
        <section class="section news slide-has-dots">
            <div class="section-header">
                <h2 class="section-title">Dicas para voc&ecirc;</h2>
            </div>
            <div class="news-container">
                <ul class="news-content"></ul>
                <button class="news-button">
                    <a href="{{ page.url }}" class="button2" title="Ver mais not&iacute;cias" rel="next" target="_self">
                        Ver mais
                    </a>
                </button>
            </div>
        </section>
    {% endif %} 
{% endfor %} 

{% element 'snippets/filter-sizes' %}

<section class="mini-banners section">
    <div class="content-two">
        <a href="{{ banners.extra10.link }}" class="banner" id="banner-10" title="{{ banners.extra10.alt }}" target="{{ banners.extra10.target }}">
           <img class="lazy" data-src="{{ banners.extra10.src }}" alt="{{ banners.extra10.alt }}" >
        </a>
        <a href="{{ banners.extra11.link }}" class="banner" id="banner-11" title="{{ banners.extra11.alt }}" target="{{ banners.extra11.target }}">
           <img class="lazy" data-src="{{ banners.extra11.src }}" alt="{{ banners.extra11.alt }}" >
        </a>
        <a href="{{ banners.extra12.link }}" class="banner" id="banner-12" title="{{ banners.extra12.alt }}" target="{{ banners.extra12.target }}">
           <img class="lazy" data-src="{{ banners.extra12.src }}" alt="{{ banners.extra12.alt }}" >
        </a>
    </div>
</section>

{% if settings.show_sections_reviews %}
    {% element 'snippets/reviews' %}
{% endif %} 

{#{% element 'snippets/banner-line' { 'banner_id': 'bottom', 'banner_type': 'container' } %}#}

{# COMENTADO
<section class="section tagCloud">
    <h2 class="section-title">{{ Translation('tags_mais_buscadas') }}</h2>
    <ul class="tagCloud-list">
        {% for tag in tags %}
            <li class="tagCloud-item">
                <a class="tagCloud-word" href="{{ tag.url }}" rel="next" target="_self">{{ tag.word }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
#}
