.differentials {
    width: 100%;
    
    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li.differential {
            display: flex;
            align-items: center;
            gap: 8px;


            .text-differential {
                strong {
                    @include fontInsert(1.125, 500, var(--c_general_text1), var(--font_family));
                }
    
                p {
                    @include fontInsert(1, 300, var(--c_general_text1), var(--font_family));
                }

                @include small {
                    strong {
                        @include fontInsert(1, 400, var(--c_general_text1), var(--font_family));
                    }
        
                    p {
                        @include fontInsert(0.875, 300, var(--c_general_text1), var(--font_family));
                    }                    
                }
            }

            @include small {
                width: 36vw;

                .image {
                    display: flex;
                    min-height: 50px;
                    align-items: center;

                    img {
                        max-height: 60px;
                        object-fit: contain;
                    }
                }
                
            }
        }

        @include medium {
            justify-content: normal !important;
            flex-wrap: nowrap;
        }

        @include small {
            justify-content: normal !important;
            flex-wrap: nowrap;
        }
    }

    @include medium {
        padding-bottom: 2em !important;
    }

    @include small {
        padding-bottom: 2em !important;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--c_general_main) !important;
    }
}