.header {
    position: fixed;
    width: 100vw;
    z-index: 2000;
    top: 0;
    transition: $transit_slow;
    scroll-behavior: smooth;

    &.home.on {
        * {
            color: var(--c_general_inverted) !important;
            background: transparent;
            border-color: transparent;
        }

        input.search-input {
            background: var(--c_general_inverted) !important;
        }

        .botaoMenu a.button2 {
            color: var(--c_contrast_and_button) !important;
            background: var(--c_general_inverted) !important;
        }

        .headerStyle {
            .box-icon path {
                fill: transparent !important;
            }

            path {
               fill: var(--c_general_inverted);
                stroke: var(--c_general_inverted);
            }
        }
    }

    @include small {

        &.u-effectHeader {
            .header-search {
                order: 1 !important;
            }
        }

        &-logo {
            order: 2;
            width: 60%;
            text-align: center;
        }

        &-button.mobile {
            order: 1;
            margin-left: 0.25rem;
            margin-right: 0.75rem;
        }

        .box-icon {
            order: 3;
        }

        &-cart {
            order: 4;
        }

        &-search {
            order: 5 !important;
            max-width: 100% !important;
        }
    }

    &.u-effectHeader {
        @include small {
            .header-logo {
                display: none;
            }

            .header-content {
                height: calc(var(--v_height_header_top) - (var(--v_height_header_top) / 2.4));
                flex-wrap: nowrap;

                .header-search {
                    order: unset;
                    width: 60%;
                }
            }
        }
        @include medium {
            .header-menu {
                display: none;
                opacity: 0;
            }
            .header-content {
                height: calc(var(--v_height_header_top) - (var(--v_height_header_top) / 5));
            }
        }
        @include large {
            .header-menu {
                display: none;
                opacity: 0;
            }
            .header-content {
                height: calc(var(--v_height_header_top) - (var(--v_height_header_top) / 5));
            }

            .header-logo {
                img {
                    max-height: calc(100% + 2px);
                }
            }
        }
    }

    &-top {
        background-color: var(--c_header_bg);
    }

    .dif {
        color: var(--c_header_dif_text);
        background: var(--c_header_dif_bg);
    }

    .container-custom {
        @extend %flex-betw-center;
        max-width: $v_width_content_page;
        margin: auto;
        gap: 1em;

        @include small {
            padding: 0 1.25rem;
        }

        .atendimento {
            @extend %flex-center-center;
            gap: 0.3em;
            position: relative;
            cursor: pointer;
            height: 40px;

            svg {
                max-width: 24px;
            }

            &:hover .atendimento-info {
                opacity: 1;
                z-index: 1000;
                height: auto;
            }

            &-info {
                position: absolute;
                background: #fff;
                top: 40px;
                left: 0;
                box-shadow: 0 0 15px rgb(0,0,0,0.15);
                text-align: left;
                padding: 1em;
                border-top: 1px solid var(--c_general_main);
                border-radius: 0px;
                max-width: 300px;
                transition: 0.3s;
                opacity: 0;
                z-index: -10;
                height: 50px;
                overflow: hidden;

                li {
                    margin-bottom: 0.35em;

                    .contact-item {
                        display: flex;
                        gap: 0.4em;
                        color: var(--c_header_text_main);
                    }
                }
                span {
                    color: var(--c_header_text_main);
                    font-size: 14px;

                    &:before {
                        font-size: 18px;
                        color: var(--c_header_text_main);
                    }
                }
            }
        }

        .diferenciais_topo {
            padding: 2px 0;
            transition: 0.3s;
            overflow: hidden;
            display: grid !important;
            align-items: center;
            justify-content: space-between;
            grid-template-columns: repeat(7, 100%);
            height: 40px;
            width: 100%;
    
            .diff_item {
                font-size: 14px;
                font-family: $font_name;
                font-weight: 400;
                text-align: center;
                transition: 0.55s;

                @include small {
                    font-size: 14px;
                }
              
                div:first-child {
                    line-height: 18px;
                    font-weight: 400;
    
                    @include small {
                        line-height: 16px;
                    }

                    & + div {
                        opacity: 0.75;
                        font-size: 0.96em;
                    }
                }
            }
    
            .dif {
                margin-bottom: 10px;
                font-size: 130%;
                cursor: pointer;
                padding: 3px;
            }   
        }

        .info-media {
            @extend %flex-center-center;
            gap: 0.65em;
        }

        a.media-link {
            position: relative;
            top: 0.15em;
            gap: 0.3em;

            svg {
                fill: var(--c_header_dif_text);
                max-width: 20px;

                path {
                    fill: var(--c_header_dif_text);
                }
            }

            span:before {
                font-size: 1.5em;
                color: var(--c_header_dif_text);
            }
        }
    }

    .social-icons-mobile {
        display: flex;
        align-items: center;
        position: relative;

        &:hover .icons-section {
            opacity: 1;
            z-index: 100;
        }

        svg {
            fill: var(--c_header_dif_text);
            width: 22px;
        }

        .icons-section {
            position: absolute;
            right: 0;
            top: 2.015em;
            background: var(--c_header_dif_bg);
            padding: 0.25rem 0.5rem;
            z-index: -1;
            opacity: 0;
        }
    }
    
    &-content {
        @extend %flex-betw-center;
        transition: $transit_slow;
        margin: 0 auto;
        height: var(--v_height_header_top);
        max-width: $v_width_content_page;
        width: auto;

        @include small {
            flex-wrap: wrap;
            padding: 0 2rem;
        }
    }

    &-logo {
        @extend %flex-start-center;
        display: block;
        flex-shrink: 0;
        max-height: 4rem;
        width: 23.75%;

        @include small {
            height: calc(100% - 6.5rem);
            max-width: 60%;
            width: auto;
        }

        @include medium {
            height: calc(100% - 2rem);
        }

        @include large {
            height: calc(100% - 2rem);
        }

        .header-image {
            width: auto;
            max-width: 75%;
            height: 100%;

            & + .header-title {
                display: none;
            }
        }
    }

    &-search {
        @extend %flex-center-center;
        position: relative;
        margin: 0 4em;
        transition: width 0.3s ease-out;
        max-width: 40%;
        width: 100%;

        @include small {
            order: 1;
            margin: 0;
            max-width: none;
        }

        .search {
            &-input {
                @include fontInsert($fs_header, 500, var(--c_header_text_secondary));
                display: block;
                padding: 0 58px 0 20px;
                border-radius: 5px;
                background: #ffffff;
                border: 1px solid #BDBDBD;
                width: 100%;
                height: 52px;

                @include small {
                    font-size: 0.8rem;
                }

                &:focus {
                    box-shadow: inset 0 0 4px var(--c_header_text_secondary);
                }

                &::placeholder {
                    opacity: 0.6;
                }
            }

            &-button {
                border-radius: 5px;
                position: absolute;
                width: 58px;
                height: 100%;
                top: 0;
                right: 0;
                font-size: 20px;
                color: var(--c_header_icon);
                background-color: transparent;
                opacity: 1;
                transition: 0.3s ease-out;

                &:hover {
                    opacity: 0.6;
                }

                &:active {
                    opacity: 0.6;
                }

                .icon-search::before {
                    color: var(--c_general_main);
                }
            }
        }

        .suggestion {
            box-sizing: border-box;
            position: absolute;
            top: 100%;
            left: 0;
            max-width: unset;
            max-height: 450px;
            min-width: unset;
            width: 100%;
            padding: 0 1.25rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
            background-color: #fff;
            border-radius: 8px 8px 8px 8px;
            overflow: auto;
            scrollbar-color: var(--c_header_icon) #fff;
            scrollbar-width: thin;
            z-index: 100;

            &::-webkit-scrollbar {
                width: 6px;
                background: #fff;
            }

            &::-webkit-scrollbar-track {
                background: #fff;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--c_header_icon);
                border-radius: 10px;
            }

            &:hover {
                display: block !important;
            }

            .idp,
            .cl {
                display: none;
            }

            span {
                display: block;
                cursor: pointer;
                padding: 4px 0;
            }

            &-words {
                font-size: #{$fs_search}rem;
                margin-bottom: 0.875rem;
                padding: 1.25em 0 1.25em 0;
                background: transparent;
                border-bottom: $v_border_header;

                span {
                    font-size: 0.875rem;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    line-height: 1.4;
                    background-color: transparent;
                    transition: ease-out 0.2s;

                    &:hover {
                        color: var(--c_general_main);
                        background-color: transparent;
                    }
                }

                strong {
                    background: #666;
                }
            }

            &-products {
                width: 100%;
                padding: 0;
                background: transparent;

                strong {
                    background: #666;
                }

                .suggestion-product {
                    margin-bottom: 20px;
                    font-size: 13px;

                    &:hover {
                        background: transparent;
                    }

                    a {
                        display: flex;
                        margin: 0;
                        padding: 0;

                        &:hover {
                            background: transparent;
                        }
                    }

                    .suggestion-img {
                        width: 50px;
                        height: 75px;
                        float: unset;
                        margin-right: 0.625rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover
                        }
                    }

                    .suggestion-desc .titlep {
                        @include fontInsert(0.875, 500, var(--c_general_text2));
                        transition: ease-out 0.2s;

                        &:hover {
                            color: var(--c_general_main);
                        }
                    }
                }
            }

            &-title {
                background-color: #d70008;
                display: block;
                @include fontInsert($fs_header, 600, var(--c_general_text1), capitalize);
                text-indent: 0;
                margin-bottom: 1.3rem;
                line-height: 1.4;
                background-color: transparent !important;
            }
        }
    }

    a.button2 {
        font-size: 14px;
        padding: 0.7em 1.2em;
        margin-right: 2em;
        border-radius: 0;
    }

    .box-icon {
        display: flex;
        position: relative;
        gap: 0.5rem;

        @include small {
            & span {
                display: none;
            }
        }
        

        &:hover .reastrear-pedido {
            height: 95px;
            opacity: 1;
            z-index: 1000;
        }
        
        .reastrear-pedido {
            height: 0;
            transition: 0.3s;
            position: absolute;
            top: 2em;
            padding-top: 1em;
            opacity: 0;
            z-index: -1;
            right: -110px;
            overflow: hidden;

            @include small {
                max-width: 90vw;
                right: -15vw;
            }

            form.rastrear {
                background: var(--c_header_bg);
                min-width: 300px;
                padding: 1em;
                border-radius: 0px;
                border-top: 1px solid var(--c_general_main);
                box-shadow: 0 0 10px rgb(0,0,0,0.1);
                display: flex;
                gap: 1em;

                input {
                    color: var(--c_header_text_secondary);
                    background-color: #BDBDBD;
                    padding: 0 15px;

                    @include small {
                        max-width: calc(50% - 1rem);
                    }
                }

                [type="submit"] {
                    padding: 0.75rem;
                    display: flex;
                    align-items: center;
                    gap: 1em;
                }
            }
        }

        svg {
            cursor: pointer;
        }
    }

    &-account {
        @extend %flex-center-center;
        margin: 0 2em;
        min-width: fit-content;

        &[data-logged-user='true']:not(.tray-hide) + [data-logged-user] {
            display: none;
        }

        @include small {
            display: none;
        }

        .icon-account {
            margin-right: 0.5rem;

            &:before {
                font-size: 1.8rem;
            }
        }

        .loggedout {
            display: flex;
            flex-direction: column;
        }

        .account {
            &-access,
            &-link,
            &-separator {
                color: var(--c_header_text_secondary);
                font-size: #{$fs_header - 0.15}rem;
                transition: $transit_default;
                line-height: 15px;
                font-weight: 300;
            }

            &-text {
                @include fontInsert(0.85, 400, var(--c_header_text_secondary));
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-access {
                display: flex;
            }

            &-link {
                display: flex;

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }
            }

            &-separator {
                padding: 0 4px;
            }
        }
    }

    &-account {
        margin: 0 2em;
        position: relative;

        &:hover .account-action {
            height: 110px;
            z-index: 1000;
            opacity: 1;
        }
    }

    &-cart {
        transition: ease-out 0.2s;
        position: relative;
        cursor: pointer;
        @extend %flex-center-center;

        svg {
            height: 1.8rem;
            width: 1.8rem;
            fill: var(--c_header_icon);
        }

        .icon-cart {
            margin-right: 0.3rem;
        }

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }

        .cart-quantity {
            @include fontInsert(0.75, 600, var(--c_general_details));
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            line-height: 20px;
            text-align: center;
            vertical-align: middle;
            background-color: var(--c_header_cart);
            position: absolute;
            top: -5px;
            right: -10px;
        }
    }

    /// Menu:
    &-menu {
        @extend %flex-center-center;
        position: relative;
        z-index: -1;
        background-color: var(--c_header_bg);
        opacity: 1;
        transition: transform 0.3s ease-out 0.3s, opacity 0.5s ease-out;
        padding: 0 0.938rem;
        width: auto;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;

        @include small {
            display: none;
        }

        .menu {
            &-container {
                max-width: $v_width_content_page;
                width: 100%;
                margin: 0 auto;
            }

            &-list .menu-firstLevel > .menu-link,
            &-list .menu-firstLevel > .menu-expand {
                @include medium-p {
                    font-size: #{$fs_menu_p}rem;
                    padding: 0;
                }

                @include medium-m {
                    font-size: #{$fs_menu_m}rem;
                    padding: 0 0.625rem;
                }
            }

            &-list {
                gap: 2em;
            }

            &-list,
            &-firstLevel {
                position: relative;
            }

            &-firstLevel {
                @extend %flex-center-center;
                @include fontInsert(1.125, 400);
                height: var(--v_height_header_menu);

                &:hover > .menu-link {
                    color: var(--c_general_main);
                }

                &:active,
                .menu-link:active,
                .menu-expand:active {
                    color: var(--c_general_main);
                }

                &:hover .menu-secondLevel {
                    opacity: 1;
                    visibility: visible;
                }

                &:nth-child(-n + 3) {
                    justify-content: flex-start;
                }

                &:nth-child(n + 6) {
                    justify-content: flex-end;
                }
            }

            &-firstLevel > .menu-link,
            &-firstLevel > .menu-expand {
                @extend %flex-center-center;
                gap: 0.35rem;
                position: relative;
                padding: 0 12px;
                text-align: center;
                cursor: pointer;
                color: var(--c_header_text_main);
                z-index: 2;
                transition: ease-out 0.2s;
            }

            button.menu-expand {
                background: var(--c_contrast_and_button);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--c_general_inverted) !important;
                font-weight: 600;
                border-radius: 3px;
            }

            &-secondLevel {
                @include fontInsert(1.125, 400);
                @extend %style-scroll;
                background-color: var(--c_header_bg);
                border-radius: 0;
                box-shadow: 0 4px 8px rgb(0 0 0 / 6%);
                visibility: hidden;
                opacity: 0;
                overflow-y: auto;
                padding: 2.0625rem 2.5rem;
                position: absolute;
                top: calc(100% - 40px);
                transform: translateY(40px);
                transition: ease-out 0.2s;
                max-height: 50vh;
                min-width: 275px;
                width: auto;

                .secondLevel-item {
                    border-bottom: $v_border_header;
                    padding: 24px 0;

                    &:first-child {
                        padding-top: 0px;
                    }

                    &:last-child {
                        border-bottom: 0px;
                        padding-bottom: 0px;
                    }
                }

                .menu-link {
                    color: var(--c_header_text_main);
                    transition: $transit_default;

                    &:hover {
                        color: var(--c_general_main);
                    }
                }
            }

            &-thirdLevel {
                @include fontInsert(1.15, 400);
                padding-top: 11px;

                @include small {
                    @include fontInsert(0.875, 500, var(--c_header_text_main));
                }

                &:last-child {
                    padding-bottom: 0;
                }

                .menu-link {
                    color: var(--c_header_text_main);
                }
            }
        }
    }

    &-button.mobile {
        @include small {
            display: flex;
        }

        @include medium {
            display: none;
        }

        @include large {
            display: none;
        }
    }
}

/// Saarch

.header--fixed .header-menu {
    transform: translateY(-115%);
    transition: transform 0.3s ease-out, background 0s ease-out 0.3s;

    .menu {
        &--show {
            transform: translateY(0);
            box-shadow: 0 1px 5px rgb(0 0 0 / 6%);
        }
    }
}

// menu mobile
.menuMobile {
    @extend %flex-center-colun;
    @extend %modal-mobile-menus;
    padding: 2rem;
    transform: translateX(calc(-100% - 10px));
    transition: ease-out 0.3s;

    @include medium {
        display: none;
    }

    @include large {
        display: none;
    }

    &.u-show {
        transform: translateX(0);
        z-index: 2001 !important;
        max-width: 100vw;
    }

    &-title {
        @extend %flex-betw-center;
        @extend %title-menu-modal;
        color: var(--c_general_text1);
        width: 100%;

        @include small {
            @include fontInsert(1.5, 600, var(--c_header_text_main));
        }

        .icon-menu {
            margin-right: 1.25rem;

            &::before {
                color: var(--c_general_text2);
                vertical-align: 15%;
            }
        }
    }

    &-close {
        cursor: pointer;
        height: 2.4rem;
        width: 2.4rem;
        transition: $transit_default;

        &:hover {
            transform: rotate(180deg);
        }

        .icon-exit {
            text-transform: none;
            position: relative;
            bottom: -0.18rem;
        }
    }

    &-account {
        @extend %flex-betw-center;
        border-top: $v_border_header;
        margin-top: 1rem;
        padding-top: 0.5rem;

        .u-show {
            .account-access {
                @extend %flex-start-center;
            }

            .account-button .icon-arrow-simple {
                transform: rotate(-90deg);
            }
        }

        .account {
            &-item {
                width: 100%;
            }

            &-button {
                @extend %flex-betw-center;
                width: inherit;

                .icon-arrow-simple {
                    transform: rotate(90deg);
                    transition: $transit_default;
                }
            }

            &-text {
                @include fontInsert(1.5, 700, var(--c_general_text1));

                @include small {
                    @include fontInsert(1.35, 600, var(--c_general_text1));
                }
            }

            &-access {
                display: none;
                padding-left: 1rem;
                padding-top: 0.5rem;
                .icon-account {
                    padding-right: 0.5rem;
                }

                .account-link {
                    @include fontInsert(0.875, 400, var(--c_general_text2));
                }
            }
        }
    }

    &-content {
        flex-grow: 1;
        height: calc(100% - 180px);
        margin: 1.875rem 0;
        overflow: auto;
        border-top: $v_border_header;

        @extend %style-scroll;
    }

    .menu {
        &-firstLevel {
            @include fontInsert(1.1, 600, var(--c_header_text_main));
            border-bottom: $v_border_header;
            padding: 1.5rem 0 1rem 0;

            @include small {
                @include fontInsert(1, 500, var(--c_header_text_main));
            }
        }

        &-secondLevel {
            @include fontInsert(1, 400, var(--c_header_text_main));
            padding-top: 0.95rem;

            @include small {
                @include fontInsert(0.875, 500, var(--c_header_text_main));
            }

            .menu-link {
                line-height: 1.6rem;
            }
        }

        &-thirdLevel {
            padding-left: 0.7rem;
            padding-top: 0.5rem;
        }

        &-firstLevel,
        &-secondLevel,
        &-thirdLevel {
            .menu-link {
                transition: $transit_default;
                opacity: 1;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@include small {
    .header-button {
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 0;
        flex-shrink: 0;
        width: 20px;
        height: 18px;
        margin-right: 1rem;
        cursor: pointer;

        .button-line {
            width: 100%;
            height: 2px;
            background-color: var(--c_header_icon);
            transition: 0.3s ease-out;
            cursor: pointer;
        }

        &:hover .button-line {
            opacity: 0.6;
        }
    }
}

.logo-ao-centro {
    @include small {
        &.u-effectHeader {
            .header-search {
                order: 2 !important;
            }
        }

        .header-button.mobile {
            order: 1;
            margin-right: 1rem;
            margin-left: 0rem;
        }

        .header-logo {
            order: 2;
            width: 60%;
        }

        .logo-ao-centro .headerStyle {
            order: 3;
            width: 20%;
            justify-content: space-between;            
        }

        .header-search {
            order: 4 !important;
            max-width: 100% !important;
        }
    }

    .header-search {
        order: 1;
        max-width: 25%;
        margin: 0;
    }

    .header-logo {
        width: 50%;
        text-align: center;
        order: 2;
    }

    .headerStyle {
        @extend %flex-end-center;
        order: 3;
        width: 25%;

        @include small {
            gap: 0.75rem;
        }

        .header-account {
            gap: 0.35rem;
        }
    }
}