{% set size = utils.is_mobile ? "60px": "120px" %}
<section class="section highlighted-categories" data-slides="highlighted-categories">
    <div class="content">
        {#<h2 class="section-title">Categorias</h2>#}

        <div style="position: relative;">
            <ul id="categories" class="swiper">
                <div class="swiper-wrapper">
                    {% set show_categories = categories %} 

                    {% for category in show_categories %}
                        {% if category.images %}
                            <li class="category swiper-slide">
                                <a href="{{ category.link }}" title="{{ category.name }}">
                                    <div class="image">
                                       <img class="lazy" src="{{ category.images[0] }}" alt="{{ category.name }}" width="{{ size }}" height="{{ size }}">
                                    </div>
                                    <div class="category-title">{{ category.name }}</div>
                                </a>
                            </li>
                        {% endif %}

                        {% if category.children %}
                            {% for children in childrens %}
                                {% if children.images %}
                                    <li class="category children-item swiper-slide">
                                        <a href="{{ children.link}}" title="{{ children.name }}">
                                            <div class="image">
                                               <img class="lazy" src="{{ children.images[0] }}" alt="{{ children.name }}" width="{{ size }}" height="{{ size }}">
                                            </div>
                                            <div class="category-title">{{ children.name }}</div>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %} 
                </div>
            </ul>
        </div>
    </div>
</section>
